
.fg-t1{
    color:rgba(255,187,120,1);
}

.fg-t2{
    color:rgba(255,127,14,1);
}

.fg-t3{
    color:rgba(174,199,232,1);
}

.fg-t4{
    color:rgba(44,160,44,1);
}

.fg-t5{
    color:rgba(31,119,180,1);
}

.fg-t6{
    color:rgba(255,152,150,1);
}

.fg-t7{
    color:rgba(214,39,40,1);
}

.fg-t8{
    color:rgba(197,176,213,1);
}

.fg-t9{
    color:rgba(152,223,138,1);
}

.fg-t10{
    color:rgba(148,103,189,1);
}

.fg-t11{
    color:rgba(247,182,210,1);
}

.fg-t12{
    color:rgba(227,119,194,1);
}

.fg-t13{
    color:rgba(196,156,148,1);
}

.fg-t14{
    color:rgba(140,86,75,1);
}

.fg-t15{
    color:rgba(127,127,127,1);
}

.fg-t16{
    color:rgba(219,219,141,1);
}

.fg-t17{
    color:rgba(199,199,199,1);
}

.fg-t18{
    color:rgba(188,189,34,1);
}

.fg-t19{
    color:rgba(158,218,229,1);
}

.fg-t20{
    color:rgba(23,190,207,1);
}


.bg-t1{
    background-color:rgba(255,187,120,1);
    color:white;
}

.bg-t2{
    background-color:rgba(255,127,14,1);
    color:white;
}

.bg-t3{
    background-color:rgba(174,199,232,1);
    color:white;
}

.bg-t4{
    background-color:rgba(44,160,44,1);
    color:white;
}

.bg-t5{
    background-color:rgba(31,119,180,1);
    color:white;
}

.bg-t6{
    background-color:rgba(255,152,150,1);
    color:white;
}

.bg-t7{
    background-color:rgba(214,39,40,1);
    color:white;
}

.bg-t8{
    background-color:rgba(197,176,213,1);
    color:white;
}

.bg-t9{
    background-color:rgba(152,223,138,1);
    color:white;
}

.bg-t10{
    background-color:rgba(148,103,189,1);
    color:white;
}

.bg-t11{
    background-color:rgba(247,182,210,1);
    color:white;
}

.bg-t12{
    background-color:rgba(227,119,194,1);
    color:white;
}

.bg-t13{
    background-color:rgba(196,156,148,1);
    color:white;
}

.bg-t14{
    background-color:rgba(140,86,75,1);
    color:white;
}

.bg-t15{
    background-color:rgba(127,127,127,1);
    color:white;
}

.bg-t16{
    background-color:rgba(219,219,141,1);
    color:white;
}

.bg-t17{
    background-color:rgba(199,199,199,1);
    color:white;
}

.bg-t18{
    background-color:rgba(188,189,34,1);
    color:white;
}

.bg-t19{
    background-color:rgba(158,218,229,1);
    color:white;
}

.bg-t20{
    background-color:rgba(23,190,207,1);
    color:white;
}
