include *.txt
include alembic.ini
include cocomo.yaml
recursive-include alembic *
recursive-include test *.py
recursive-include resources *
recursive-include profiling *.py

include doc/Makefile
recursive-include doc *.rst *.py
recursive-include doc/_static *

