

recursive-include tendril/gedaif/templates *.yaml
recursive-include tendril/gedaif/src *.cc
recursive-include tendril/dox/templates *.tex
recursive-include tendril/frontend/static *
recursive-include tendril/frontend/templates *.html
recursive-include tendril/frontend/blueprints/*/templates *.html

include *.rst
include *.txt
include alembic.ini
recursive-include alembic *
recursive-include tests *.py
recursive-include resources *

include doc/Makefile
recursive-include doc *.rst *.py
recursive-include doc/_static *
recursive-include doc/sample/ *.sample

