{% extends "base_templates/page_base.html" %}  {# base_templates/page_base.html extends base_templates/base.html #}

{% block main %}


<div class="large-5 small-10 columns small-centered">
    <h1>User Profile</h1>
  <div class="row">
    <a class="button radius expand small secondary" href="{{ url_for('user.change_username') }}">Change username</a>
  </div>
  <div class="row">
    <a class="button radius expand small secondary" href="{{ url_for('user.change_password') }}">Change password</a>
  </div>

  {% from "base_templates/form_macros.html" import render_field, render_submit_field %}
  <div class="row">
    <form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}
    {{ render_field(form.full_name, tabindex=240) }}
    {{ render_submit_field(form.submit, tabindex=280) }}
    </form>
  </div>
</div>

{% endblock %}
